<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../lib/layui-v2.5.4/css/layui.css" media="all">
    <link rel="stylesheet" href="../../css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div style="margin: 10px 10px 10px 10px">
            <form id="form" class="layui-form layui-form-pane" action="">
                <input id="id" type="hidden" name="id" th:value="${device.getId()}">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">产品编码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="productName" lay-verify="code" lay-verType="tips" autocomplete="off"
                                   class="layui-input" th:value="${device.getProductName()}">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">终端编码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="deviceName" lay-verify="code" lay-verType="tips" autocomplete="off"
                                   class="layui-input" th:value="${device.getDeviceName()}">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="secret" lay-verify="password" lay-verType="tips" autocomplete="off"
                                   class="layui-input" th:value="${device.getSecret()}">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <a style="margin: 0 auto" class="layui-btn" lay-submit="" lay-filter="*">提交</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="../../lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
<script src="../../js/common.js"></script>
<script src="../../js/device/edit.js"></script>

</body>
</html>